@reference '@devlog/ui-config';

.blogSourceList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 24px;
}

.blogSourceItem {
    @apply px-4 md:px-10;
    @apply py-6 md:py-12;
    color: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blogSourceContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 12px;
}

.blogLink {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}