@reference '@devlog/ui-config';

@keyframes ripple {
    from {
        opacity: 0.6;
        transform: scale(0);
    }
    to {
        opacity: 0;
        transform: scale(2);
    }
}

.ripple {
    @apply absolute;
    @apply top-0;
    @apply left-0;
    @apply bottom-0;
    @apply right-0;
    @apply overflow-hidden;
}

.ripple > span {
    @apply inline-block;
    transform: scale(0);
    @apply rounded-full;
    @apply absolute;
    animation-name: ripple;
}
