@reference '@devlog/ui-config';

.postListItemEdit {
    @apply flex;
    @apply flex-col;
    @apply justify-start;
    @apply items-stretch;
    @apply gap-[12px];
}

.postListItemEditDisplay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @apply px-4 md:px-10;
    @apply py-6 md:py-12;
    color: var(--color-white);
    height: 220px;
}


.postListItemEditDisplayInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 12px;
}

.postListItemEditDisplayMenu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
}

.postKeywordMenu {
    @apply flex;
    @apply justify-stretch;
    @apply items-center;
    @apply gap-4;
}

.postKeywords {
    @apply text-white;
    @apply w-full;
    @apply border;
    @apply border-gray-300;
    @apply rounded-md;
    @apply p-4;
    @apply h-[150px];
}