@reference '@devlog/ui-config';

.postListItem {
    display: block;
    /*padding: 40px 48px;*/
    @apply px-4 md:px-10;
    @apply py-6 md:py-12;
    color: var(--color-white);
    height: 220px;
}

.postListItemTitle {
    margin-bottom: 12px;
}

.postListItemDescription {
    margin-bottom: 24px;
}