@reference '@devlog/ui-config';

.postListItem {
    display: block;
    @apply px-4 md:px-10;
    @apply py-6 md:py-12;
    color: var(--color-white);
    height: 220px;
    cursor: pointer;
}

.postListItemTitle {
    display: flex;
    justify-content: stretch;
    align-items: center;
    @apply gap-2;
    margin-bottom: 12px;
}

.postListItemDescription {
    margin-bottom: 24px;
}