.postListItem {
    display: block;
    padding: 40px 48px;
    color: var(--color-white);
    height: 220px;
}

.postListItemTitle {
    margin-bottom: 12px;
}

.postListItemDescription {
    margin-bottom: 24px;
}